.highlighted-cell {
 background-color: #FFEB3B;
 border-radius: 5px;
 border: 0.5px solid black;
}
@keyframes pulseEgg {
    from { transform: scale(1); }
    50% { transform: scale(0.90); }
    to { transform: scale(1); }
}
  
.egg {
    animation-name: pulseEgg;
    animation-duration: 2s;
    animation-iteration-count: infinite;
	border-radius: 60% 60% 40% 40%;
}
